<nav class="bg-[rgba(18,18,18,1)] fixed top-0 z-50 left-0 right-0 lg:px-20">
    <div class="max-w-screen-xl mx-auto px-4 py-4 lg:py-0 flex justify-between items-center">
        <!-- Left section (logo and title) -->
        <div class="flex items-center space-x-4">
            <img class="w-8" src="https://i.pinimg.com/originals/8f/1c/96/8f1c96d6dfa3c3146ab165f30d6dbc2e.png" alt="Logo">
            <a routerLink="/" class="text-gray-100 font-medium text-lg">DEEPRAJ FASHION</a>
            <button class="open-button md:hidden" mat-button (click)="toggleNavbar()">
                <!-- Menu button for mobile -->
            </button>
        </div>

        <!-- Right section (menu items and profile menu) -->
        <div class="hidden md:flex items-center space-x-4">
            <!-- Navigation links -->
            <button class="open-button" mat-button (click)="opennavbarcontent('men')">
                <p class="pt-3 text-gray-200">Men</p>
            </button>
            <button class="open-button" mat-button (click)="opennavbarcontent('women')">
                <p class="pt-3 text-gray-200">Women</p>
            </button>
            
            <!-- Cart button -->
            <button mat-icon-button (click)="navigatetocart()">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            
            <!-- Location button -->
            <div class="flex">
                <button class="flex" *ngIf="userProfile" (click)="handleOpenAddressModal()" mat-icon-button>
                <mat-icon>add_location</mat-icon>
            </button>
            <div *ngIf="defaultAddress" class="ml-3 text-sm text-gray-300">
                <p>{{defaultAddress?.City}}, {{defaultAddress?.Pincode}}</p>
            </div>
           
        </div>
            
            <!-- Display default address -->
            
            
            <!-- Profile and menu options -->
            <button (click)="handleOpenLoginModal()" *ngIf="!userProfile" mat-raised-button color="warn">Login</button>
            <div *ngIf="userProfile" class="flex items-center space-x-4">
                <span class="font-bold text-lg text-gray-100">{{userProfile.firstname}}</span>
                <button mat-button [matMenuTriggerFor]="profilemenu">
                    <img class="h-8 w-8" src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671116.jpg?w=740" alt="User Profile">
                </button>
                <mat-menu #profilemenu="matMenu">
                    <button mat-menu-item (click)="naviagtetoorders()">Orders</button>
                    <button mat-menu-item (click)="navigatetoprofile()">Profile</button>
                    <button mat-menu-item (click)="handleLogout()">Logout</button>
                </mat-menu>
            </div>
        </div>
    </div>
    
    <!-- Modal container for navbar content -->
    <div class="absolute left-5 right-5 modal-container" *ngIf="isnavbarcontentisopen">
        <app-nav-content [selectedSection]="currentsection"></app-nav-content>
    </div>
</nav>
