<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div class="bg-green-500 text-white px-6 py-4 border-0 rounded relative mb-4 shadow-lg">
      <div class="flex items-center justify-center mb-6">
          <img class="h-10 mr-2" src="https://www.svgrepo.com/show/13686/like.svg" alt="">
          <span class="text-xl font-bold">Thank you For Trust Deepraj Fashion</span>
      </div>
      <p class="mb-2">Payment successful!</p>
      <div class="mt-10">
          <p class="mb-4">Your order ID: {{ orderId }}</p>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="goToHome()">Check Order</button>
      </div>
  </div>
</div>
