<footer class="bg-gray-1000 text-gray-300 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div class="mb-4">
          <h2 class="text-lg font-semibold mb-2">About Us</h2>
          <p>Deepraj Fashion A unique Fashion Store situated in Jaora , Madhya Pradesh , We Serve best qwality in the town, with the trust of thousands of Customers now we are Online</p>
        </div>
        <div class="mb-4">
          <h2 class="text-lg font-semibold mb-2">Customer Service</h2>
          <ul>
            <li><a href="#" class="hover:text-gray-400">Contact Us</a></li>
            <li><a href="#" class="hover:text-gray-400">FAQs</a></li>
            <li><a routerLink="/account/order" class="hover:text-gray-400">Shipping Information</a></li>
            <li><a routerLink="/account/order" class="hover:text-gray-400">Returns & Exchanges</a></li>
          </ul>
        </div>
        <div class="mb-4">
          <h2 class="text-lg font-semibold mb-2">Follow Us</h2>
          <ul>
            <li><a href="#" class="hover:text-gray-400">Instagram</a></li>
            <li><a href="#" class="hover:text-gray-400">Facebook</a></li>
            <li><a href="#" class="hover:text-gray-400">Twitter</a></li>
            <li><a href="#" class="hover:text-gray-400">Pinterest</a></li>
          </ul>
        </div>
        <div class="mb-4">
          <h2 class="text-lg font-semibold mb-2">Subscribe</h2>
          <p>Subscribe to our newsletter for exclusive offers and updates.</p>
          <form class="mt-2">
            <input type="email" placeholder="Enter your email" class="block w-full border border-gray-800 rounded py-2 px-3">
            <button type="submit" class="mt-2 bg-gray-800 text-white py-2 px-4 rounded hover:bg-gray-700">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="border-t border-gray-800 mt-8 pt-6 text-center text-sm">
        <p>&copy; 2024 DeeprajFashionStore. All rights reserved.</p>
      </div>
    </div>
  </footer>
  
