
<div class="w-400px mx-auto p-4 bg-black text-white rounded-lg">
    <h3 class="text-xl font-bold mb-4">{{ product.title }} - {{ product.brand }}</h3>
    
    
    <form [formGroup]="reviewForm" (ngSubmit)="submitForm()">
    <textarea  formControlName="review" rows="4" class="w-full p-2 border border-gray-300 rounded-lg mb-4 bg-gray-800 text-white" placeholder="Write your review here..."></textarea>
    <div class="flex justify-center items-center pb-4">
      <app-star></app-star>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Submit Review</button>
    </div>
  
</form>
  </div>
  