.subcontainer {
    max-width: 500px;
    width: 100%;
}

.form-container {
    background-color: rgb(20, 20, 20);
    padding: 20px;
    border-radius: 10px;
}

.form-content {
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
}


