<div class="bg-black p-4 text-black">
    <div class="max-w-xl mx-auto bg-white p-8 rounded-md shadow-md">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold">User Information</h1>
            <button class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-md" (click)="handleOpenLoginModal()">
                Update Profile
            </button>
        </div>
        
        <div class="grid grid-cols-1 gap-y-4">
            <div class="mb-4">
                <label for="name" class="block text-gray-700 font-bold mb-2">Name:</label>
                <span id="name" class="block text-gray-900">{{userProfile?.firstname}} {{userProfile?.secondname}}</span>
            </div>
            <div class="mb-4">
                <label for="mobile" class="block text-gray-700 font-bold mb-2">Mobile:</label>
                <span id="mobile" class="block text-gray-900">{{userProfile?.mobile}}</span>
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold mb-2">Email:</label>
                <span id="email" class="block text-gray-900">{{userProfile?.email}}</span>
            </div>
            <div class="mb-4">
                <div class="flex justify-between items-center mb-2">
                    <label class="text-lg font-bold text-gray-700">Addresses:</label>
                    <button (click)="openaddaddress()" class="bg-gray-800 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded-md">
                        Add New Address
                    </button>
                </div>
                <div class="divide-y divide-gray-200">
                    <div class="py-2" *ngFor="let address of userProfile?.address">
                        <div class="flex justify-between items-center">
                            <div>
                                <span class="block text-gray-900 font-semibold">{{address.Name}}</span>
                                <span class="block text-gray-900">{{address.Mobile}}</span>
                                <span class="block text-gray-900">{{address.Address}}, {{address.City}}, {{address.Pincode}}</span>
                            </div>
                            <button (click)="openupdatemodal(address)" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
