<main class="mt-10">

    <div class="py-10 lg:grid grid-cols-3 lg:px-16 relative">

        <section class="lg:col-span-2 lg:px-5">
            <div class="box p-5 space-y-3">

                <ng-container *ngIf="cart">
                    <div *ngFor="let item of cartitems; let last = last">
        <app-cartitem  [cartItem]="item"  showbutton="true" (itemUpdated)="handleItemUpdate()"></app-cartitem>
                        
            <mat-divider *ngIf="!last"></mat-divider>
                    
                    </div>


                </ng-container>

                <ng-container *ngIf="!(cart && cartitems && cartitems.length > 0)">
                    <div class="text-center ">
                        <h2 class="text-xl font-semibold text-gray-600 mb-2">Your Cart is Empty</h2>
                        <p class="text-gray-500 mb-4">Looks like there's nothing in your cart. <br> Why not add some items and make your day brighter?</p>
                        <a routerLink="/" class="text-blue-600 hover:underline">Explore Our Wide Range</a>
                    </div>
                </ng-container>
                

             </div>

        </section>


        <section class="px-5 sticky top-0 mt-5  lg:mt-0" *ngIf="cart && cartitems && cartitems.length > 0">
            <ng-container>
                <div class="box p-5 rounded-md">
                    <p class="font-bold text-gray-300 pb-4">PRICE DETAILS</p>
                    <mat-divider></mat-divider>
                    <div class="space-y-3">
                        <div class="flex justify-between pt-3">
                            <span class="">Total Product</span>
                            <span>{{deep.totalItem}}</span>
                        </div>
                        <div class="flex justify-between pt-3">
                            <span class="">Total Price</span>
                            <span>&#8377;{{deep.totalPrice}}</span>
                        </div>

                        <div class="flex justify-between pt-3">
                            <span class="">Discount Rate</span>
                            <span class="text-green-500">{{deep.discount}}</span>
                        </div>

                        <div class="flex justify-between pt-3">
                            <span class="">Delivery Charge</span>
                            <span class="text-green-500 text-sm">Free</span>
                        </div>


                        <mat-divider></mat-divider>

                        <div class="flex justify-between pt-3 font-semibold text-lg">
                            <span class="">Total Payble</span>
                            <span class="text-orange-500">&#8377;{{deep.totalDiscountedPrice
                            }}</span>
                        </div>

                    </div>

                    <button mat-raised-button (click)="navigatetocheckout()" style="padding: 12px;background-color: rgb(156, 56, 73);" class="text-lg mt-6 p-28 px-10 w-full border" [disabled]="deep.totalDiscountedPrice === 0">CheckOut</button>



                </div>
            </ng-container>
        </section>
</div>

</main>