<div class="container">

    <div class="grid grid-cols-12 gap-3 ">

        <div class="col-span-3 lg:col-span-1">

            <div class="w-[3rem] h-[3rem]">

                <img class="rounded-full h-full w-full" src="https://img.freepik.com/premium-vector/avatar-icon002_750950-52.jpg" alt="">
            </div>
           
          </div>
          <div class="col-span-6 lg:col-span-9 ml-3">
                
            <div class="space-y-2">

                <div>
                    <p class="font-semibold">Deepraj Sen</p>
                    <p class="opacity-70">13 aug 20233</p>
                </div>
                <div>
                    <app-star></app-star>
                </div>
                <p>
                    nice shirt love it !
                </p>
            </div>
        </div>
          
    </div>
</div>